.username{
    /* background-color: rgb(23, 14, 46); */
}

.chart div {
    /* font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: black; */
  }